#main{
    display: flex;
    
}
#left{
width: 78%;

padding: 5px;
}
#right{
width: 20%;
border: 0px solid green;
margin-left: 5px;
padding: 5px;
}
#right>p{
margin-left: 5px;
}
img+hr{
border-left: 5px solid grey;
height:25px;
position: absolute;
margin-left: 20px;

}
p{
margin-left: 39px;
margin-top: 10px;
color: rgb(78, 71, 71);
}
img{
width: 98%;
padding: 10px;
border: 0px solid red;
}
#main1{
display: flex;
justify-content: space-evenly;
}
#main1>div{
width: 50%;
padding: 10px;
}
#main2{
display: flex;
justify-content: space-evenly;
}
#main2>div>p{
margin-left: 10px;
}
#main2right>img{
height: 180px;
margin-left: 20px;
}
#main2right{
margin-left: 20px;
}
#middle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;

}
.homecypto{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    margin-left: 5px;
   border-radius: 5px;
}
#homepic{
    margin-left: -8px;
}
#meta{
    color: red;
}
#entertainment{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
   
    
}
/* #entertainment_left{
   
    
} */
#entertainment_left>p{
   margin-left: 5px;
    
}
#entertainment_middle{
    margin-left: 5px;
}
/* #entertainment_right{
   
} */
#culture_society{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;

}
#world{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;

}
h1:hover{
    color: red;
}
h2:hover{
    color: red;
}
h3:hover{
    color: red;
}
#biggerbox{
    display: flex;
    gap:10px
}
#biggerbox{
    display: flex;
    gap:10px
}
#upper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    text-align:center;
}
#lower{
    width:76%;
    
    border: 0px solid rgb(5, 5, 5);

}
#caresol1{
    width:22%;  
    border: 0px solid red;
}
#busspic{
    height: 200px;
    width: 200px;
    margin-left: 200px;
}

.buss{
    height:240px;
    width:97% ;
    border: 0px solid green;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;


}
.busstitle{
    margin-left: 450px;
    margin-top: -180px;
}
.bussdisc{
    margin-left: 450px;
    margin-top: -0px;
}
.bussdate{
    margin-left: 10px;
    margin-top: -80px;
}
#edivbussiness {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    gap: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#edivbuss {
    width: 60%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}











/* slider start */
splide__arrow--next svg{
    position: relative;
    top: 0;
    left: 35px;
}
.splide__arrow--prev svg{
    position: relative;
    top: 0;
    right: 35px;
}
.box{
width: 350px;
height: 550px;
/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
margin: auto;
margin-bottom: 50px;
}
.product-img{
width: 100%;


position: relative;
}

.product-info{
width: 300px;
height: 250px;
margin-top: 70px;
 margin-left: 20px;
text-align: center;
}
.container{
width: 80%;
margin: auto;
}
.sliderimg{
    height: 300px;
    width: 300px;
}
.product-img>h2{
    position: absolute;
    top: 350px;
   left: 25%;
   color: white;
   
}

.splide__arrow svg {
    fill:black;
    height: 2.5em;
    transition: fill .2s linear;
    width: 2.5em;
    margin-left: 16px;
}